body {
  background-image: url("./pure-css-snow-animation.gif");
}

td  {
  border: 3px solid;
  height: 100px;
  width: 100px;
  text-align: center;
}

.board {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  font-size: 50px;
}

.game {
  text-align: center;
  color: white;
}

th {
  font-size: 75px;
  color: white;
}

.wins {
  font-size: 25px;
}